/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font: 18px/1.33 'Helvetica Neue', Arial, sans-serif;
}
a:not(.button), a:not(.button):visited {
  text-decoration: none;
  color: #196198;
}
.top-bar {
  text-align: center;
}
.top-bar img {
  vertical-align: middle;
}
.top-bar h1 {
  color: #196198;
  text-transform: uppercase;
  font-size: 54px;
}
.movie-list {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-content: stretch;
  justify-content: space-between;
  overflow: hidden;
}
.movie {
  box-sizing: border-box;
}
.movie-poster img {
  max-width: 100%;
}
.button {
  background-color: #196198;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  padding: 15px 30px;
}
